body{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,ul,li{
    padding:0;margin:0;
    font-weight:normal;
    font-size:16px;
    list-style:none;
}
.blank{
    width:100%;
    height:5px;
    background:#C20C0C;
}
.my{
    width:100%;
    height:643px;
    margin:0;
    box-sizing: border-box;
}
.my-music{
    width:87%;
    height:590px;	
    margin-left:13%;
    position:relative;
}
.my-music-list{
    width:240px;
    height:503px;
    padding-bottom:50px;
    padding-top:40px;
    border:1px solid rgba(0,0,0,0.2);
    overflow-x:hidden;
    overflow-y:auto;
    float:left;
}
.my-music-song{
    width:78.8%;
    height:593px;
    float:left;
}
.my-music-list-music{
    width:737px;
    height:594px;
    float:left;
    position:absolute;
    left:241px;
    display:block;
    border-right:1px solid rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(0,0,0,0.2);
}
.my-video{
    width:737px;
    height:100%;
    float:left;
    position:absolute;
    left:241px;
    display:none;
    border:1px solid rgb(100,100,193);
}
.xiu{
    width:737px;
    height:100%;
    float:left;
    position:absolute;
    left:241px;
    display:block;
    border:1px solid red;
}
.my-video-text{
    width:660px;
    height:35px;
    font-size:24px;
    color:#333;
    margin-left:35px;
    margin-top:25px;
    border-bottom:2px solid #c20c0c;
}
.my-videos{
    width:680px;
    height:100%;
    margin-left:35px;
    margin-top:10px;
}
.my-videos-li{
    width:205px;height:180px;
    margin:0 15px 15px 0;
    float:left;
}
.my-videos-li a{
    font-size:16px;
    color:black;
    padding:auto;
    text-decoration:none;
}
.my-videos-li a:hover{
    text-decoration:underline;
}
.my-videos-li img{
    width:100%;
    height:130px;
}
.my-music-list-video{
    widht:100%;
    height:27px;
}
.my-music-list-video:hover{
    background: #f0f0f0;
}
.my-music-list-video a{
    padding:0 5px 2px 35px;
    font-size:14px;
    color:black;
    text-decoration:none;
}
.my-music-list-list{
    width:100%;
    height:27.7px;
    margin-top:5px;
    background: #f0f0f0;
}
.my-music-list-list a{
    padding:5px 5px 2px 35px;
    font-size:14px;
    color:black;
    text-decoration:none;
    float:left;
}
.my-music-list-create{
    width:40px;
    height:22px;
    margin-right:10px;
    border-radius:10px;
    border:1px solid rgba(0,0,0,0.2);
    float:right;
    margin-top:3px;
}
.my-music-list-create:hover{
    opacity:0.7;
}
.my-music-list-create a{
    padding:3px 5px 3px 7px;
    text-decoration:none;
    margin:auto;
    font-size:12px;
}
.my-music-list-like{
    width:100%;
    height:54px;
    position:relative;
    cursor:pointer;
    background: #d2d2d2;
}
.my-music-list-like1{
    width:100%;
    height:54px;
    position:relative;
    cursor:pointer;
    background: #fff;
}
.my-like-img{
    width:40px;
    height:40px;
    position:absolute;
    left:15px;top:8px;
}


. a:hover{
	text-decoration: underline;
}
.my-like-name{
    width:100px;
    height:13px;
    position:absolute;
    left:64px;
    top:3px;

}
.my-like-name a{
    text-decoration:none;
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.my-like-sum{
    width:30px;
    height:15px;
    position:absolute;
    left:64px;top:30px;
    font-size:11px;
    color:#999;
}
.mymusic-title{
    width:600px;
    height:170px;
    margin-left:40px;
    margin-top:30px;
    position:relative;
}
.mymusic-title img{
    width:170px;
    height:170px;
}
.mymusic-title-img{
    width:54px;
    height:24px;
    position:absolute;
    left:180px;
    top:2px;
}
.mymusic-title-img img{
    width:100%;
    height:100%;
}
.mymusic-title-text{
    width:150px;
    height:30px;
    font-size:18px;
    position:absolute;
    left:240px;top:0;
}
.mymusic-title-userimg{
    width:30px;height:30px;
    position:absolute;
    left:180px;
    top:30px;
}
.mymusic-title-userimg img{
    width:100%;
    height:100%;
}
.mymusic-title-username{
    width:40px;
    height:30px;
    position:absolute;
    left:220px;
    top:35px;
}
.mymusic-title a{
    font-size:12px;
    text-decoration:none;
    overflow:hidden;
    margin:auto;
}
.mymusic-title-datetime{
    width:120px;
    height:15px;
    position:absolute;
    left:265px;
    top:40px;
    font-size:12px;
    color:#999;
}
.mymusic-btns{
    width:330px;
    height:31px;
    position:absolute;
    left:180px;top:75px;
    display:flex;

}
.mymusic-btns1 img{
    width:45px;
    height:24px;
    cursor:pointer;
}
.mymusic-btns1 img:hover{
    opacity:0.8;
}
.mymusic-btns2 img{
    width:20px;
    height:24px;
    margin-top:0.5px;
    cursor:pointer;
}
.mymusic-btns2 img:hover{
    opacity:0.8;
}
.mymusic-btns3{
    width:45px;
    height:24px;
}
.mymusic-btns3 img{
    width:100%;
    height:100%;
    margin-left:5px;
}
.mymusic-btns4{
    width:45px;
    height:24px;
}
.mymusic-btns4 img{
    width:100%;
    height:100%;
    margin-left:10px;
    cursor:pointer;
}
.mymusic-btns4 img:hover{
    opacity:0.8;
}
.mymusic-btns5{
    width:45px;
    height:24px;
}
.mymusic-btns5 img{
    width:100%;
    height:100%;
    margin-left:15px;
    cursor:pointer;
}
.mymusic-btns5 img:hover{
    opacity:0.8;
}
.mymusic-btns6{
    width:45px;
    height:24px;
    margin-left:20px;
}
.mymusic-btns6 img{
    width:100%;
    height:100%;
    cursor:pointer;
}
.mymusic-btns6 img:hover{
    opacity:0.8;
}
.mymusic-list{
    width:100%;
    height:35px;
    box-sizing:border-box;
    margin-top:35px;
}
.mymusic-list-text{
    margin-left:35px;
    font-size:20px;
    line-height:28px;
    float:left;
}
.mymusic-list span{
    color:#666;
    font-size:12px;
    margin-left:25px;
    line-height:35px;
    float:left;
}
.mymusic-list-text1{
    float:right;
    width:70px;
    height:100%;
    align-items:center;
    font-size:12px;
    line-height:35px;
}
.mymusic-list-text1 strong{
    color:#C20C0C;
}
.mymusic-song{
    width:100%;
    height:322px;
    border-top:2px solid rgb(100,100,193);
}
.mymusic-song-list{
    width:100%;
    height:34px;
    background: #f5f5f5;
    display:flex;
}
.mymusic-song-1{
    width:110px;
    height:100%;
    border-right:1px solid rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(0,0,0,0.3);
}
.mymusic-song-2{
    width:280px;
    height:100%;
    font-size:12px;
    color: #8c8c8c;
    border-right:1px solid rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(0,0,0,0.3);
    line-height:28px;
    padding-left:10px;
}
.mymusic-song-3{
    width:150px;
    height:100%;
    font-size:12px;
    color: #8c8c8c;
    border-right:1px solid rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(0,0,0,0.3);
    line-height:28px;
    padding-left:10px;
}
.mymusic-song-4{
    width:150px;
    height:100%;
    font-size:12px;
    color: #8c8c8c;
    line-height:28px;
    padding-left:10px;
    border-right:1px solid rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(0,0,0,0.3);
}
.mymusic-song-5{
    width:180px;
    height:100%;
    font-size:12px;
    color: #8c8c8c;
    line-height:28px;
    padding-left:10px;
    border-bottom:1px solid rgba(0,0,0,0.3);
}
.mymusic-1{
	background:#f5f5f5;
    width:100%;
    height:289px;
    box-sizing:border-box;
    overflow:auto;
}
.mymusic-li{

    height:28px;
    background:#f5f5f5;
    display:flex;
}
.mymusic-li-one{

    height:28px;
    background:#f5f5f5;
    display:flex;
    border-top:1px solid rgba(0,0,0,0.3);
}
.mymusic-li-one a{
    text-decoration:none;
}
.mymusic-li a{
    text-decoration:none;
}
.mymusic-li-other a{
    text-decoration:none;
}
.mymusic-li-other{
    width:100%;
    height:28px;
    background: #ffffff;
    display:flex;
}
.mymusic-li-1{
    width:53px;
    height:18px;
    
    margin-left:15px;
    margin-top:7px;
    font-size:12px;
    color: #a0a0a0;
}
.mymusic-li-2{
    float:left;
}
.mymusic-li-1 img{
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
}
.mymusic-li-3{
    width:220px;
    height:15px;

    margin-top:5px;
    margin-left:27px;
    font-size:11px;
}
.mymusic-li-4{
    width:50px;
    height:15px;
    margin-left:15px;
    margin-top:5px;
    font-size:11px;
    color: #999999;
}
.mymusic-li-5{
    width:70px;
    height:15px;
    margin-left:77px;
    margin-top:5px;
    font-size:11px;
    color: #6e6e6e;
}
.mymusic-li-6{
    width:70px;
    height:15px;
    margin-left:65px;
    margin-top:5px;
    font-size:11px;
    color: #6e6e6e;
    overflow: hidden;
}
.mymusic-comment{
    width:100%;
    height:150px;
    margin-top:40px;
}
.mymusic-c{
    width:100%;
    height:32px;
    border-bottom:2px solid #c20c0c;
}
.mymusic-comment-title{
    width:50px;
    height:35px;
    font-size:20px;
    line-height:28px;
    margin-left:35px;
    float:left;
}
.mymusic-comment-num{
    width:100px;
    height:20px;
    font-size:11px;
    margin-top:10px;
    margin-left:10px;
    color:#666;
    float:left;
}
.mymusic-comment-text{
    width:100%;
    height:80px;
    display:flex;
    position:relative;
}
.mymusic-comment-img{
    width:35px;
    height:35px;
    margin-left:20px;
    margin-top:15px;
    background:url("../images/18580646999590603.jpg") no-repeat;
    background-size:100%;
}
.mymusic-comment-content{
    width:600px;
    height:60px;
    border:1px solid #cdcdcd;
    font-size:  18px;
    margin-left:10px;
    margin-top:10px;
}
.mymusic-comment-icon{
    width:600px;
    height:20px;
    margin-top:2px;
    margin-left:65px;
}
.mymusic-comment-icon-1{
    width:65px;
    height:20px;
    float:right;
}
.mymusic-comment-icon-2{
    float:left;
    color: #6e6e6e;
    font-size:12px;
}
.mymusic-comment-icon-3{
    width:33px;
    height:18px;
    background:blue;
    float:right;
    cursor:pointer;
    color:#fff;
    align-items:center;
    font-size:12px;
    padding:auto;
}
.create{
    width:400px;height:200px;
    position:absolute;
    left:500px;top:150px;
    background:#fff;
    display:none;
    border-radius:4px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.8);
}
.create-title{
    width:100%;
    height:34px;
    background:#333;
}
.create-title-text{
    width:80px;
    height:15px;
    color:#fff;
    font-size:14px;
    position:absolute;
    top:7px;left:10px;
}
.create-name{
    width:50px;
    height:15px;
    font-size:12px;
    color:#000;
    margin-left:30px;
    margin-top:35px;
    float:left;
}
.create-name-blank{
    width:300px;
    height:22px;
    margin-top:32px;
    border:1px solid #b4b4b4;
}
.create-text{
    width:200px;
    height:15px;
    font-size:10px;
    color: #999999;
    margin-left:80px;
    margin-top:30px;
}
.create-btn1{
    width:60px;height:28px;
    background:blue;
    margin-left:80px;
    margin-top:20px;
    cursor:pointer;
    float:left;
}
.create-btn1:hover{
    opacity:.7;
}
.create-btn1-text{
    margin-left:15px;
    line-height:28px;
    color:#fff;
    font-size:14px;
}
.create-btn2{
    width:60px;height:28px;
    background: #d2d2d2;
    margin-left:20px;
    margin-top:20px;
    cursor:pointer;
    float:left;
}
.create-btn2:hover{
    opacity:.7;
}
.create-btn2-text{
    margin-left:15px;
    line-height:28px;
    color: #6e6e6e;
    font-size:14px;
}